@model Vendedor.Models.Estado

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Estado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SiglaUF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SiglaUF)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Alterar", "Edit", new { id = Model.EstadoID }) |
    @Html.ActionLink("Voltar à Lista", "Index")
</p>
